<!DOCTYPE html>
<html>
  <head>
  <script type=text/javascript src="{{
          url_for('static', filename='nfc-read.js') }}"></script>
  <script type=text/javascript src="{{
          url_for('static', filename='nfc-write.js') }}"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register new user - Health Tag</title>
</head>

<body>
<div class="container">
<h2>Register new user</h2>
<form action="" method="post" role="form">
    {{ form.csrf }}
<div class="form-group">

      <label for="name">Name:</label>
<input type="text" class="form-control" id="name" name="name" placeholder="Name">

      <label for="surname">Surname:</label>
<input type="text" class="form-control" id="surname" name="surname" placeholder="Surname">

      <label for="dob">Date of Birth:</label>
<input type="date" class="form-control" id="dob" name="dob" placeholder="Date of birth">

      <label for="nationality">Nationality:</label>
<input type="text" class="form-control" id="nationality" name="nationality" placeholder="Nationality">

      <label for="blood_type">Blood type:</label>
<input type="text" class="form-control" id="blood-type" name="blood_type" placeholder="Blood type">

      <label for="languages">Languages:</label>
<input type="text" class="form-control" id="languages" name="languages" placeholder="languages (separated by commas)">

      <label for="medications">Medications:</label>
<input type="text" class="form-control" id="medications" name="medications" placeholder="medications (separated by commas)">

      <label for="allergies">Allergies:</label>
<input type="text" class="form-control" id="allergies" name="allergies" placeholder="allergies (separated by commas)">

      <label for="diseases">Diseases:</label>
<input type="text" class="form-control" id="diseases" name="diseases" placeholder="diseases (separated by commas)">

      <label for="vaccines">Vaccines:</label>
<input type="text" class="form-control" id="vaccines" name="vaccines" placeholder="vaccines (separated by commas)">

<fieldset>
    <legend>Emergency Contact:</legend>
     <label for="emergencyname">Name:</label>
    <input type="text" class="form-control" id="emergencyname" name="emergencyfirstname" placeholder="Name">
     <label for="emergencysurname">Surname:</label>
    <input type="text" class="form-control" id="emergencysurname" name="emergencylastname" placeholder="Surname">
     <label for="emergencyphone">Phone number:</label>
    <input type="text" class="form-control" id="emergencyphone" name="emergencyphone" placeholder="Phone number">
      <label for="emergencylanguages">Languages:</label>
<input type="text" class="form-control" id="emergencylanguages" name="emergencylanguages" placeholder="languages (separated by commas)">
  </fieldset>
</div>

<button type="submit" class="btn btn-success">Submit</button>
{% if uid %}
<span></span>
<button class="btn btn-success" onclick="writeNFC({{ uid }})" href='/'>Write to tag</button>
{% endif %}
</form>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
 
{% for message in messages %}

{% if "Error" in message[1]: %}
<div class="alert alert-warning">{{ message[1] }}</div>
{% elif "Success" in message[1]: %}
<div class="alert alert-info">{{ message[1] }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

</div>
</body>
</html>
